.container {
  // background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Raleway', sans-serif;
 
}
.authWindow {
    background: linear-gradient(45deg,rgb(23,19,40)  , rgb(18, 14, 23));
//   background: rgb(18, 14, 23);
    // background:white;
   
//   opacity: 0.6;
margin: 0;
  border-radius: 25px;
  color: white;
  max-width: 400px;
  min-height: 450px;
}

.logo{
 font-size: 30px;
 display: flex;
//  text-align: center;
 align-items:center;
 justify-content: center;
 h3{
  margin: 0;
  margin-left: 1rem;
 }
  
}